{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<script>

    {#var baseUrl = window.location.origin;#}
    {#var path = '/stripe_canceled_3dauth/';#}
    {#window.location.href = baseUrl + path;#}
    {#console.log('handleAction-fullUrl-397:',baseUrl + path);#}


    {#const webpack = require('webpack');#}
    {#const FRONTEND_IP_ADDRESS = process.env.VUE_APP_FRONTEND_IP_ADDRESS || 'http://localhost:8000';#}
    {##}
    {#console.log('Fvueeeeeeeeeeeeeeeee',)#}
    {##}
    {#module.exports = {#}
    {#    // ... другие настройки ...#}
    {##}
    {#    configureWebpack: {#}
    {#        plugins: [#}
    {#            new webpack.DefinePlugin({#}
    {#                'process.env': {#}
    {#                    VUE_APP_FRONTEND_IP_ADDRESS: JSON.stringify(FRONTEND_IP_ADDRESS),#}
    {#                },#}
    {#            }),#}
    {#        ],#}
    {#    },#}
    {#};#}
</script>
</body>
</html>